%table(width="80%")
  %tr
    - [1,2].each do |i|
      %td
        Person #{i}
        %select(id="pf#{i}" name="person#{i}" onchange="C.load_person(this.value,'#p#{i}')")
          %option{:value=>'', :selected=>true} None
          - @people.each do |p|
            %option{:value=>p.id}= p.name

  %tr
    %td#p1  P1
    %td#p2  P2

#result
